// Body
// $body-bg: #000000;

$color1: #9b8df5;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.h{
  color: $color1;
}

#app {
  background-image: url('/public/img/cars.jpg');
  background: url('/public/img/cars.jpg') 50%/ cover no-repeat;
}


// Ваш стиль.scss
.icon {
    width: 30px;   // Новая ширина иконки
    height: 30px;  // Новая высота иконки
    border: 1px solid;
    border-radius: 50%;
  }
  