// Body
// $body-bg: #000000;
// $body-color: #f5f5f5;

$color1: #640298;
$color-border: #a9a9a9;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

#app {
  // text-align: center;
  text-align: center;
  background: #222222 url('/public/img/cars1.jpg') 50%/ cover no-repeat;
}

// ________________/* Стили для кнопки "На вверх" *\________________
.onTop{
  width: 50px;
  height: 50px;
  transition: transform 0.3s; /* Добавляем анимацию сдвига */
  cursor: pointer; /* Стиль указателя при наведении */
  background: url('/public/backgrounds/onTop.png') 50%/ cover no-repeat;
}
.onTop:hover {
  transform: translateY(-5px); /* Сдвигаем карточку вверх при наведении */
}

// ________________/* Стили для кнопки "На главную" *\________________
.btn-custom {
  background-color: $color1; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  border: #ffffff; /* Цвет границы */
  border-radius: 5px; /* Закругленные углы */
  padding: 7px 10px; /* Отступы внутри кнопки */
  font-size: 15px; /* Размер текста */
  // text-align: center; /* Выравнивание текста по центру */
  cursor: pointer; /* Стиль указателя при наведении */
  transition: background-color 0.3s, color 0.3s; /* Анимация при наведении */
  text-decoration: none; 
}
.btn-custom:hover {
  background-color: #b128fb; /* Цвет фона при наведении */
  color: #000000; /* Цвет текста при наведении */
}

// ________________/* Стили для кабинета администратора *\________________
.dashboard-card { 
  background: url('/public/img/fon1.jpg');
  background-size: cover; /* Масштабирование изображения, чтобы заполнить всю область фона */
  background-position: center center; /* Положение изображения по центру */
}
.icon {
  width: 30px;
  height: 30px;
  border: 1px solid $color-border;
  border-radius: 50%;
}

// ________________/* Стили для карточки услуг *\________________
.service-card {
  text-align:center;
  border:1px solid #a9a9a9; /* Цвет границы */
  border-radius: 3px;
  overflow: hidden;
  height: 200px;
  background-size: cover; /* Масштабирование изображения, чтобы заполнить всю область фона */
  background-position: center center; /* Положение изображения по центру */
  background-repeat: no-repeat; /* Отключение повторения изображения */
  // font-family:'Franklin Gothic Medium',;
}
.service-card-header {
  padding:20px; /* Отступы внутри карточки */
}
.service-tint-card-bg{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Здесь вы можете настроить цвет и прозрачность фона */
}
.service-card-animation{
  transition: transform 0.3s, color 0.4s; /* Анимация при наведении */
  text-decoration: none;
  color: #ffffff;
}
.service-card-animation:hover{
  // transform: translateX(10px); /* Цвет фона при наведении */
  color: #E0E300;
}
.service-card-footer a {
  border:1px solid #a9a9a9; /* Цвет границы */
  margin-top: 3px;
  width: 100%; /* Ширина кнопки равна 100% ширины родительского блока */
}

.custom-border {
  border: 1px solid $color1 !important;
  color: #fff !important;
}

.form-control:focus, .form-select:valid:focus {
  border: 1px solid $color1 !important;
  box-shadow: 0 0 5px $color1 !important;
}
.required::after{
content: '*'; 
color:#981602;
margin-left: 3px;
}

